#one {
height: 605px;
width : 790px;
background-color:#ffe6e6;
padding-left: 20px;
} 
#two {
height: 605px;
width : 540px;     
background-color: white;
position: relative;
bottom: 605px;
left: 819px;
}
#webname{
color: orangered;
position: relative;
top: 10px;
left: 10px;
font : 22px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#intro{
font : 40px;
color: orangered;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
color: white;
font-size : larger;
font-weight: bolder;
position: relative;
top: 170px;
margin-left: 20px;
 height: 48px;
 width: 214px;
 border-radius: 10%;
 background-color: rgb(24, 24, 192);             
}
#random{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font: 500;
position: relative;
top: 190px;
left: 160px;
}
#quote{
font-size: 30px;
font-weight: bold;
color: orangered
}
.text{
color: white;
}
